<template lang="pug">
  div(class="auth-form login")
    div(class="form-row")
      el-input(placeholder="电子邮箱" @blur="emailIsUsed()" v-model="Email")
    div(class="form-row")
      el-input(placeholder="密码" type='password' v-model="Pwd")
    div(class="form-row")
      el-button(type="primary" @click='login()') 登录
    div(class="link form-row")
      a(href="#") 忘记密码？
</template>

<style lang="stylus">
  .auth-form
    background-color #fff
    font-size 16px
    border 1px solid #ddd
    border-radius 4px
    box-shadow 0 1px 3px rgba(50,50,50,0.08)
    .form-row
      margin-top 15px
    .link
      display block
  .auth-form.login
    height 200px
</style>
<script>
  import { Button, Input, Message } from 'element-ui'
  import { mapActions } from 'vuex'
  export default {
    components: {
      Input, Button, Message
    },
    data () {
      return {
        Email: '',
        Pwd: ''
      }
    },
    name: 'login-form',
    methods: {
      ...mapActions([
        'userLogin'
      ]),
      // 邮箱(账号框)失去焦点
      emailIsUsed: function () {
        if (this.Email === '') return
        // 判断账号是否使用
        this.$http.get(
          this.getApiServer({
            debug: false
          }) + 'User/AccountUsed',
          {
            params: {
              account: this.Email
            }
          }
        ).then((reponse) => {
          if (reponse.body.Data === false) {
            this.$message({
              showClose: true,
              message: '该邮箱未注册',
              type: 'warning'
            })
          }
        }, (reponse) => {})
      },
      login: function () {
        this.$http.post(
          this.getApiServer({
            debug: false
          }) + 'User/Login',
          {
            Account: this.Email,
            Pwd: this.Pwd
          }
        ).then((response) => {
          if (response.body.HttpResult !== 200) {
            this.$message.error('用户名密码错误')
          } else {
            this.setCookie('loginUser', JSON.stringify(response.body.Data), 10)
            // 触发登录action更改vuex中的loginState
            this.userLogin(response.body.Data)
            location.href = '/#/main'
          }
        })
      }
    }
  }
</script>
