<template lang="pug">
  div(class="auth-form signup")
    div(class='form-row')
      el-input(placeholder="名字" v-model="NickName")
    div(class="form-row")
      el-input(placeholder="电子邮箱" @blur="emailIsUsed()" v-model="Email")
    div(class="form-row")
      el-input(placeholder="密码" type='password' v-model="Pwd")
    div(class="form-row")
      el-button(type="primary" @click='signup()') 创建免费账户
</template>

<style lang="stylus" scoped>
  .auth-form
    background-color #fff
    font-size 16px
    border 1px solid #ddd
    border-radius 4px
    box-shadow 0 1px 3px rgba(50,50,50,0.08)
    .form-row
      margin-top 15px
    .link
      display block
  .auth-form.signup
    height 220px
</style>

<script>
  import { Button, Input, Message } from 'element-ui'
  
  // 判断填写是否正确
  let checkSignup = ($this) => {
    let error = false
    let list = [$this.NickName, $this.Email, $this.Pwd]
    for (let item of list) {
      if (!item || item === '') {
        error = true
        break
      }
    }
    if (error) {
      $this.$message.error('请正确填写')
    }
    return error
  }
  
  export default {
    components: {
      Input, Button, Message
    },
    data () {
      return {
        Email: '',
        Pwd: '',
        NickName: '',
        IsRequest: false
      }
    },
    name: 'signup-form',
    methods: {
      // 邮箱(账号框)失去焦点
      emailIsUsed: function () {
        if (this.Email === '') return
        if (this.IsRequest) return
        // 判断账号是否使用
        this.$http.get(
          this.getApiServer({
            debug: false
          }) + 'User/AccountUsed',
          {
            params: {
              account: this.Email
            },
            before: (request) => {
              this.IsRequest = true
            }
          }
        ).then((reponse) => {
          this.IsRequest = false
          if (reponse.body.Data === true) {
            this.$message({
              showClose: true,
              message: '该邮箱已注册',
              type: 'warning'
            })
            this.Email = ''
          }
        }, (reponse) => {
          this.IsRequest = false
        })
      },
      signup: function () {
        if (this.IsRequest) return
        if (checkSignup(this)) return
        this.$http.post(
          this.getApiServer({
            debug: false
          }) + 'User/SignUp',
          {
            Account: this.Email,
            Pwd: this.Pwd,
            NickName: this.NickName
          },
          {
            before: (request) => {
              this.IsRequest = true
            }
          }
        ).then((response) => {
          this.IsRequest = false
          if (response.body.HttpResult !== 200) {
            this.$message.error('出现错误')
            console.log(response.body.Message)
          } else {
            this.$message({
              type: 'success',
              message: '注册成功'
            })
          }
        })
      }
    }
  }

</script>
