<template lang="pug">
  div.content
    img(src="./LandingPageView/assets/logo.png",alt="todolist",class="logoimg")
    login-form(class="card login")
    div(id="signup")
      span 还没有账户？
      span(class="link")
        a(href="/#/signup") 创建账户
</template>

<script>
  import LoginForm from './LoginPageView/LoginForm'
  import { mapMutations } from 'vuex'
  export default {
    components: {
      LoginForm
    },
    name: 'login-page',
    computed: {
      ...mapMutations([
        'loginState'
      ])
    },
    methods: {
      redirect: function () {
        location.href = '/'
      }
    }
  }
</script>

<style lang="stylus">
  .content
    height 435px
    width 450
    margin auto
    position relative
    top 50%
    transform translateY(-50%)
    .logoimg
      margin 0 auto
      width: 450px
      display: flex

  #signup
    margin-top: 20px

  .card
    max-width: 370px;
    min-width: 320px;
    margin: 30px auto 20px auto;
    padding: 0 10px;
    margin-top 70px

</style>
