<template lang="html">
<div class="main" @click="getName">
  {{aaa}}
</div>
</template>

<style lang="less">
  .main{
    width: 100px;
    height: 100px;
  }
</style>

<script>
  export default {
    name: 'main-page',
    components: {
    },
    data () {
      return {
        aaa: '222'
      }
    },
    methods: {
      getName: () => {
        console.log(111)
      }
    }
  }
</script>
