<template lang="pug">
  div(class="content")
    img(src="./LandingPageView/assets/logo.png" alt="todolist" class="logoimg")
    signup-form(class="card login")
    div(id="signup")
      span 已经拥有账户了？
      span(class="link")
        a(href="/#/login") 登录
</template>

<script>
  import SignupForm from './SignupPageView/SignupForm'
  export default {
    components: {
      SignupForm
    },
    name: 'signup-page'
  }
</script>
