<template>
  <div>
    <el-button typle="primary" @click="goLoginPage()">跳转</el-button>
  </div>  
</template>

<script>
  import { Button } from 'element-ui'
  export default {
    components: {
      Button
    },
    name: 'redrict',
    methods: {
      goLoginPage: function () {
        location.href = '/#/login'
      }
    }
  }

</script>

<style scoped>

</style>
