<template>
  <div id="#app" class="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import store from 'renderer/vuex/store'
  export default {
    store
  }
</script>

<style lang='stylus'>
  @import url(https://fonts.googleapis.com/css?family=Lato:300);

  *
    margin 0
    padding 0
    box-size border-box

  .app
    width 100%
    height 100%

  html, body 
   height 100%

  body {
    align-items: center;
    background:
      radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 1) 0%,
        rgba(229, 229, 229, .85) 100%
      );
    background-position: center;
    display: flex;
    font-family: Lato, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
  }

  a:-webkit-any-link
    color -webkit-link
    text-decoration underline
    cursor auto
  
  .link a
    color #1b7edf
    text-decoration none

  body, input, button
    font-family "Lato" "Open Sans" "Microsoft Yahei" "微软雅黑",STXihei,"华文细黑","Hiragino Kaku Gothic Pro",Osaka,'ＭＳ Ｐゴシック','MS PGothic','メイリオ',Meiryo,"Geneva CY","Lucida Grande","Arial Unicode MS","Helvetica Neue","Arial",Sans-Serif
</style>
