<template lang="pug">
  div.left-panel
    search
    left-lower
</template>

<style lang="stylus">
  .left-panel
    background-color #fff
    height 100%
    width 100%
</style>

<script>
  import Search from './SearchView'
  import LeftLower from './LeftLowerView'
  export default {
    name: 'left-panel',
    components: {
      Search,
      LeftLower
    }
  }
</script>
