<template lang="pug">
  .left-lower
    el-menu(default-active="1-1" @select="handleSelect")
      el-submenu(index="1")
        template(slot="title") 我的清单
        el-menu-item-group
          el-menu-item(index="1-1") 个人清单
      el-menu-item(index="2") 我的团队
      el-menu-item(index="3") 我的好友
    
</template>
<style lang="stylus">
  @import url("https://unpkg.com/element-ui/lib/theme-default/index.css")
</style>
<script>
  import { Menu, Dialog, Form } from 'element-ui'
  export default {
    name: 'left-lower',
    components: {
      Menu,
      Dialog,
      Form
    },
    data () {
      return {
        mainNode: [{
          'name': '我的清单'
        }],
        props: {
          label: 'name'
        },
        dialogUserInfoVisible: false,
        User: {}
      }
    },
    methods: {
      handleSelect (key, keyPath) {
        if (key === 'UserInfo') {
          this.$http.get(
            this.getApiServer({
              debug: false
            }) + 'User/GetUser',
            {
              params: {
                id: this.$store.getters.loginUser.UserId
              }
            }
          ).then(function (response) {
            if (response.body.HttpResult === 200) {
              this.User = response.body.Data
            }
          })
          this.dialogUserInfoVisible = true
        }
      }
    }
  }
</script>
