<template lang="pug">
  div.right-panel
    todo-list
</template>
<style lang="stylus">
  .right-panel
    height 100%
</style>
<script>
  import TodoList from './TodoListView'
  export default {
    name: 'right-panel',
    components: {
      TodoList
    }
  }
</script>
