<template lang="pug">
  div.search-content
    el-input.ipt-search(icon="search")
</template>
<style lang="stylus">
  @import url("//unpkg.com/element-ui/lib/theme-default/index.css")
  .search-content
    height 36px
    .ipt-search
      width 100%
      padding 5px auto
</style>
<script>
  import { Input } from 'element-ui'
  export default {
    name: 'search',
    components: {
      Input
    }
  }
</script>
