<template lang="pug">
  div.top-content
    div.user-item
      el-button.top-button(type="primary") 登出
    el-dialog(title="用户信息", v-model="dialogUserInfoVisible")
      el-form(:model="User", label-width="50px", :rules="rules")
        el-form-item(label="昵称", :label-width="formLabelWidth")
          el-input(v-model="User.NickName", auto-complete="off")
        el-form-item(label="手机", :label-width="formLabelWidth")
          el-input(v-model="User.Phone", auto-complete="off")
      div(slot="footer" class="dialog-footer")
        el-button(@click="dialogUserInfoVisible = false") 取 消
        el-button(type="primary" @click="dialogFormVisible = false") 确 认
</template>
<style lang="stylus">
  @import url("https://unpkg.com/element-ui/lib/theme-default/index.css")
  .top-content
    height 40px
    position relative
    background-color #fff
    .user-item
      position absolute
      right 0
      height 50px
      width 150px
      .top-button
        display inline-block
        right 0
</style>
<script>
  import { Form, Menu, Input, Button } from 'element-ui'
  export default {
    name: 'top-content',
    components: {
      Menu,
      Form,
      Input,
      Button
    },
    data () {
      return {
        User: {},
        isRequest: false,
        dialogUserInfoVisible: false,
        formLabelWidth: '120px',
        rules: {
          NickName: [
            {required: true, message: '请输入新昵称', trigger: 'blur'}
          ],
          Phone: [
            {required: true, message: '请完善手机号', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      handleSelect (key, keyPath) {
        if (key === 'UserInfo' && this.isRequest === false) {
          console.log(this.isRequest)
          this.$http.get(
            this.getApiServer({
              debug: false
            }) + 'User/GetUser',
            {
              params: {
                id: this.$store.getters.loginUser.UserId
              }
            }
          ).then((response) => {
            if (response.body.HttpResult === 200) {
              this.isRequest = true
              console.log(response.body.Data)
              this.User = response.body.Data
            }
          })
        }
        this.dialogUserInfoVisible = true
      }
    }
  }
</script>
